.user-details-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr auto;
}

.user-details-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    margin-left: 100px;
    img {
        grid-column: 1;
        grid-row: span 1;
        border-radius: 50%;
        margin: 30px 70px 0px 50px;
        width: 150px;
        height: 150px;
        //@include separator($side: bottom)
    }
    //@include separator($side: bottom)
}

.user-header-actions {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    .action-buttons {
        display: flex;
        align-self: self-start;
        button {
            background-color: $color-button-background;
            border-radius: 12%;
            color: black;
            font-weight: $font-weight-medium;
            font-size: $font-size-normal;
            padding: 7px 14px;
        }
    }
}

.user-header-info {
    display: flex;
    margin-top: -100px;
    margin-bottom: -43px;
    column-gap: 50px;
    row-gap: 10px;
    column-gap: 40px;
    flex-wrap: wrap;
    font-size: $font-size-normal;
    font-weight: $font-weight-light;
    margin-right: -60px;
    .following {
        margin-right: 100px;
    }
    span {
        span {
            font-weight: $font-weight-medium
        }
    }
    .fullname {
        margin-top: -15px;
        margin-bottom: 18px;
        font-weight: $font-weight-medium;
        font-size: $font-size-small;
    }
}

.user-header-hr {
    color: $color-separator;
    width: 100%;
    height: 1px;
    margin-top: 50px;
}

.info-tabs {
    margin-top: -35px;
    @include separator($side: top);
    cursor: pointer;
}
.chosen-tab {
    border-color: black;
    border-width: 1.4px;
}

.user-details-content {
    display: flex;
    flex-wrap:wrap;
    padding: 20px;
    margin-left: 60px;
    width: 120%;
}

.user-content-image {
    width: 250px;
    height: 250px;
    size: 100px;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}



