
.profile-title {
    display: flex;
    align-items: center;
    /*margin: 5px;*/
    @include profile-img($margin: 12px);
    span {
        font-weight: $font-weight-normal;
        font-size: $font-size-normal;
    }
}

