.create-story-text {
    @include modal-layout;
    width: $create-image-size+$create-image-text; //824px; 
    height: $create-image-size+$create-title-height; //527.2px;
    overflow: hidden;
}

.create-story-text-title {
    width: 100%;
    height: $create-title-height; //43px;
    font-weight: $font-weight-normal;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    @include separator($side: bottom);
    a {
        color: $color-blue-button;
    }
}

.create-story-text-content {
    width: 100%;
    height: $create-image-size; //484.2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .content-image {
        width: $create-image-size; //484px;
        //object-fit: contain;
        object-fit: cover;
    }
    .content-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        textarea {
            width: $create-image-text; //340px;
            font-family: inherit; 
            font-size: $font-size-large;
            font-weight: $font-weight-light;  
            border: none;
            outline: none;
            resize: none;
            overflow: hidden;
            margin-left: 12px;
            //@include separator($side: bottom);  
        }
    }
}

textarea::placeholder {
    font-weight: $font-weight-very-light; 
}          




