.create-story-image {
    @include modal-layout;
    width: $create-image-size; //484px;
    height: $create-image-size+$create-title-height; //527.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include hide-scrollbar;
}

.create-story-image-title {
    width: 100%;
    height: $create-title-height; //43px;
    font-weight: $font-weight-normal;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    display: flex;
    justify-content: center;
    align-items: center;
    @include separator($side: bottom);
}

.create-story-image-content {    
    height: $create-image-size; //484.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content-caption {
        margin-top: 16px;
        font-size: $font-size-normal;
        line-height: $line-height-medium;
        span {
            font-family: inherit;
            font-size: $font-size-large-caption;
            font-weight: $font-weight-light;
            line-height: $line-height-textarea;
        }
    }
    .content-button {
        margin-top: 24px;
        padding: 4px;
        font-size: $font-size-normal;
        button {
            font-family: inherit;
            font-weight: $font-weight-normal;
            line-height: $line-height-normal;
            background-color: $color-blue-button;
            color: white;
            padding: 7px 16px;
            margin: 0;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.progress-animation {
    margin-top: 10px;
}
.progress-show {
    visibility: visible;
}
.progress-hide {
    visibility: hidden;
}


    


