.nav-bar-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    //padding: 25px 12px 16px 12px;
    padding: 20px 0px 16px 0px;
}

.nav-bar-logo {
    display: block;
    width: 103px;
    height: 29px;
    margin-bottom: 19px;
    margin-top: 5px;
    padding-left: 12px;
    //padding: 8px 12px 20px 12px;
    //padding: 25px 12px 16px 12px;
}

.nav-bar-logo-mini {
    display: none;
    width: 24px;
    height: 24px;
    margin: 12px;
    margin-top: 5px; //-4px;
    margin-bottom: 19px; //24px;
}

.nav-bar-logo-panel {
    display: none;
    width: 103px;
    height: 29px;
    margin-bottom: 19px;
    margin-top: 5px;
    padding-left: 12px;
    //padding: 8px 12px 20px 12px;
    //padding: 25px 12px 16px 12px;
}

.nav-bar-logo-mini-panel {
    display: block;
    width: 24px;
    height: 24px;
    margin: 12px;
    margin-top: 5px; //-4px;
    margin-bottom: 19px; //24px;
}

.nav-bar-list {
    margin-top: 8px;
    //margin-left: -4px;
}

.nav-bar-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    margin: 4px 0px;
    font-size: $font-size-normal;
    font-weight: $font-weight-light;
    line-height: $line-height-normal;
}

.nav-bar-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.nav-bar-icon:active {
    transform:scale(0.9);
    opacity: 60%;
    border:none;
}

.nav-bar-text {
    display: inline;
    padding-left: 16px;
    white-space: pre;
}

.current-selection {
    font-weight: $font-weight-title;
    img {
        border: 2.1px solid black;
    }
}    

.nav-bar-item:hover {
    background-color: $color-button-background;
    border-radius: 8%;
}



@media screen and (max-width: 1000px) {
    .nav-bar {
        width: $nav-bar-width-narrow;
    }      
    .users-bar {
        display: none;
    }
    .nav-bar-logo {
        display: none;
    }
    .nav-bar-logo-mini {
        display: block;
    }
    .nav-bar-text {
        display: none;
    }
    .app {
        grid-template-columns: 1fr 10fr;
    }
    .notifications-section {
        left: $nav-bar-width-narrow;
    }
    .main-content {
        grid-column: unset;
        grid-row: unset;
        align-items:center;
    }      
}

/*@media screen and (max-width: 768px) { 
    .notifications-section {
        display: none;
    }
}*/


@media screen and (max-width: 600px) { // 768px
    .nav-bar {
        border: none;
        width: unset;
        z-index: 10;
    }
    .nav-bar-logo {
        display: unset;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 10px;
        //margin-left: -180px;
        margin-bottom: 10px;
    }
    .nav-bar-logo-mini {
        display: none;
    }
    .nav-bar-content {
        flex-direction: row;
        justify-content: center;
    }
    .nav-bar-list {
        position: fixed;
        bottom: 0;
        width: 90%;
        display: flex;
        align-items: end;
        justify-content: space-around;
        margin: 2px;
    }
    .nav-bar-item {
        //padding: 2px;
        margin: 0;
        padding: 10px;
        padding-top: 0;
    }
    .nav-bar-icon-svg {
        // So it will be pressable for presentation
        //padding: 10px;
        //padding-top: 0;
    }
    .app {
        display: flex;
        justify-content: center;
    }
    .center-section {
        position: fixed;
        top: 35px; //55px; 
        height: 87vh; 
        margin: 10px;
        display: flex;
        //justify-content: center;
        overflow-y: scroll;
        width: 100%;
        @include hide-scrollbar;
        @include separator(top);
        @include separator(bottom);
    }
    .new-posts-overlay {
        left: 40%;
    }
    .new-notification-overlay {
        left: 59.5%;
        top: 94.3%;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .preview-add-comment {
        display: none;
        form {
           display: none;
        }
        textarea {
            display: none;
        }
        a {
            display: none;;
        }
        svg {
            display: none;;
        }
    }
    .stories-bar-section {
        @include separator(bottom);
    }
    .story-preview-image {
        //width: 100vw;
    }    
}



