.nav-bar-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    //padding: 25px 12px 16px 12px;
    padding: 20px 0px 16px 0px;
}

.nav-bar-logo {
    display: block;
    width: 103px;
    height: 29px;
    margin-bottom: 19px;
    margin-top: 5px;
    padding-left: 12px;
    //padding: 8px 12px 20px 12px;
    //padding: 25px 12px 16px 12px;
}

.nav-bar-logo-mini {
    display: none;
    width: 24px;
    height: 24px;
    margin: 12px;
    margin-top: 5px; //-4px;
    margin-bottom: 19px; //24px;
}

.nav-bar-logo-panel {
    display: none;
    width: 103px;
    height: 29px;
    margin-bottom: 19px;
    margin-top: 5px;
    padding-left: 12px;
    //padding: 8px 12px 20px 12px;
    //padding: 25px 12px 16px 12px;
}

.nav-bar-logo-mini-panel {
    display: block;
    width: 24px;
    height: 24px;
    margin: 12px;
    margin-top: 5px; //-4px;
    margin-bottom: 19px; //24px;
}

.nav-bar-list {
    margin-top: 8px;
    //margin-left: -4px;
}

.nav-bar-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    margin: 4px 0px;
    font-size: $font-size-normal;
    font-weight: $font-weight-light;
    line-height: $line-height-normal;
}

.nav-bar-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.nav-bar-icon:active {
    transform:scale(0.9);
    opacity: 60%;
    border:none;
}

.nav-bar-text {
    display: inline;
    padding-left: 16px;
    white-space: pre;
}

.current-selection {
    font-weight: $font-weight-title;
    img {
        border: 2.1px solid black;
    }
}    

.nav-bar-item:hover {
    background-color: $color-button-background;
    border-radius: 8%;
}



@media screen and (max-width: 1100px) {
    .nav-bar {
        width: $nav-bar-width-narrow;
    }      
    .users-bar {
        display: none;
    }
    .nav-bar-logo {
        display: none;
    }
    .nav-bar-logo-mini {
        display: block;
    }
    .nav-bar-text {
        display: none;
    }
    .app {
        grid-template-columns: 1fr 10fr;
    }
    .notifications-section {
        left: $nav-bar-width-narrow;
    }
}

@media screen and (max-width: 768px) { 
    .notifications-section {
        display: none;
    }
}


/*@media screen and (max-width: 600px) { // 768px
    .nav-bar {
        border: none;
    }
    .nav-bar-logo {
        display: inline;
        position: fixed;
        top: 0;
        height: 60px;                           // dor
    }
    .nav-bar-logo-mini {
        display: none;
    }
    .search-bar {
        display: inline;
    }
    .nav-bar-list {
        position: fixed;
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 90vh;
        height: 50px;                           // dor
    }
    .app {
        //grid-template-columns: 1fr 1000fr;    // dor
        grid-template-columns: 1fr;             // dor
        grid-template-rows: auto 1fr auto;      // dor
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .story-list {
        @include separator(top);
        //overflow: auto
    }
}*/


