.nav-bar-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    //padding: 25px 12px 16px 12px;
    padding: 20px 0px 16px 0px;
}

.nav-bar-logo {
    display: block;
    width: 103px;
    height: 29px;
    margin-bottom: 19px;
    margin-top: 5px;
    padding-left: 12px;
    //padding: 8px 12px 20px 12px;
    //padding: 25px 12px 16px 12px;
}

.nav-bar-logo-mini {
    display: none;
    width: 24px;
    height: 24px;
    margin: 12px;
    margin-top: 5px; //-4px;
    margin-bottom: 19px; //24px;
}

.nav-bar-logo-panel {
    display: none;
    width: 103px;
    height: 29px;
    margin-bottom: 19px;
    margin-top: 5px;
    padding-left: 12px;
    //padding: 8px 12px 20px 12px;
    //padding: 25px 12px 16px 12px;
}

.nav-bar-logo-mini-panel {
    display: block;
    width: 24px;
    height: 24px;
    margin: 12px;
    margin-top: 5px; //-4px;
    margin-bottom: 19px; //24px;
}

.nav-bar-list {
    margin-top: 8px;
    //margin-left: -4px;
}

.nav-bar-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    margin: 4px 0px;
    font-size: $font-size-normal;
    font-weight: $font-weight-light;
    line-height: $line-height-normal;
}

.nav-bar-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.nav-bar-icon:active {
    transform:scale(0.9);
    opacity: 60%;
    border:none;
}

.nav-bar-text {
    display: inline;
    padding-left: 16px;
    white-space: pre;
}

.current-selection {
    font-weight: $font-weight-title;
    img {
        border: 2.1px solid black;
    }
}    

.nav-bar-item:hover {
    background-color: $color-button-background;
    border-radius: 8%;
}



@media screen and (max-width: 1000px) {
    .app {
        grid-template-columns: 1fr 10fr;
    }
    .user-content-image {
        width: $user-content-image-size-narrow;
        height: $user-content-image-size-narrow; 
        padding: 2px;
    }
    .nav-bar {
        width: $nav-bar-width-narrow;
    }      
    .users-bar {
        display: none;
    }
    .nav-bar-logo {
        display: none;
    }
    .nav-bar-logo-mini {
        display: block;
    }
    .nav-bar-text {
        display: none;
    }
    .users-bar-content {
        margin-left: unset;
    }  
    .users-bar-title {
        margin-left: unset;
    } 
    .create-story-image {
        width: $create-image-size-narrow; 
        height: $create-image-size-narrow+$create-title-height; 
    }
    .create-story-image-content {    
        height: $create-image-size-narrow; 
    }
    .create-story-text {
        width: $create-image-size-narrow+$create-image-text; 
        height: $create-image-size-narrow+$create-title-height;
    }
    .create-story-text-content {
        height: $create-image-size-narrow;
        .content-image {
            width: $create-image-size-narrow; 
        }
    } 
}


@media screen and (max-width: 600px) { // 768px
    .app {
        display: flex;
        justify-content: center;
    }
    .center-section {
        position: fixed;
        top: 35px; //55px; 
        height: 86vh; 
        margin: 10px;
        display: flex;
        //justify-content: center;
        overflow-y: scroll;
        width: 100%;
        align-items: center;
        @include hide-scrollbar;
        @include separator(top);
        @include separator(bottom);
    }
    .new-posts-overlay {
        left: 40%;
    }
    .new-notification-overlay {
        left: 59.5%;
        top: 94.3%;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-details {
        grid-template-columns: 1fr; //1fr auto;
    }
    .user-details-header {
        margin-left: 5px; //80px;
        img {
            margin: 20px 5px 0px 5px; //20px 100px 0px 10px;
            width: 77px; //150px;
            height: 77px; //150px;
        }
    }
    .user-header-info {
        margin-top: -32px; //-100px;
        margin-bottom: 0; //-43px;
        .fullname {
            position: absolute;
            top: 20%;
        }
    }
    .user-details-tab {
        @include separator($side: top);
        margin-top: -19px; //-35px;
        padding-top: 10px;
    }
    .chosen-tab {
        color: $color-default;
        border-color: $color-default;
        border-width: 1.4px;
        fill: none;
    }
    .nav-bar {
        border: none;
        width: unset;
        z-index: 10;
    }
    .nav-bar-logo {
        display: unset;
        position: fixed;
        top: 0;
        left: 0;    
        margin-top: 12px;
        padding: 16px, 0;
    }
    .nav-bar-logo-mini {
        display: none;
    }
    .nav-bar-content {
        flex-direction: row;
        justify-content: center;
    }
    .nav-bar-list {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 90vw; //90%;
        display: flex;
        //align-items: center;
        justify-content: space-around;
        //margin: 10px 0;
    }
    .nav-bar-item {
        //padding: 2px;
        margin: 0;
        padding: 7px;
    }
    .nav-bar-icon-svg {
        // So it will be pressable for presentation
        //padding: 10px;
        //padding-top: 0;
    }
    .story-preview-only {
        width: 380px; //400px;
        //width: 450px; 
    }
    .preview-add-comment {
        display: none;
        form {
           display: none;
        }
        textarea {
            display: none;
        }
        a {
            display: none;;
        }
        svg {
            display: none;;
        }
    }
    .create-story-text {
        width: 688px; //90%;
        height: 391px; //50vh;
    }  
    .user-content-image {
        width: 130px; //250px; 
        height: 130px; //250px; 
    }
    .create-story-image {
        width: $create-image-size-mobile; 
        height: $create-image-size-mobile+$create-title-height; 
    }
    .create-story-image-content {    
        height: $create-image-size-mobile; 
    }
    .create-story-text {
        width: $create-image-size-mobile+$create-image-text; 
        height: $create-image-size-mobile+$create-title-height;
    }
    .create-story-text-content {
        height: $create-image-size-mobile;
        .content-image {
            width: $create-image-size-mobile; 
        }
    } 
    .center-container {
        width: 200vw;
        margin-left: -50vw;
       // overflow-x: scroll;
    }    
    .progress-animation {
        margin-top: unset;
    }
}


@media screen and (max-width: 400px) {
    .nav-bar-list {
        margin: 10px 0;
    }
}




