.story-preview {
    display: flex;
    flex-direction: column;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    font-weight: $font-weight-light;
    /*hr {
        padding: 20px 10px;
        border-top: 1px solid lightgray;
    }*/
    padding-bottom: 16px;
    margin-bottom: 16px; //20px;    
}

.story-preview-only {
    border-bottom: 0.8px solid $color-separator;
    width: 350px; //400px;
}

.story-preview-image {
    //height: auto;
    border: 0.8px solid $color-separator;
    border-radius: 4px;
    border-bottom: none;
}

.dot-container {
    display: flex;
    align-items: center; 
    height: 100vh;
    @include dot(0, 5px);
}

.preview-heading {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.story-preview-text {
    display: block;
    color: $color-default;
    font-weight: $font-weight-light;
    line-height: $line-height-normal;
    white-space: pre-line;
    margin-top: 8px;
    span {
        font-weight: $font-weight-normal;
        margin-right: 4px;
    }
}

.story-preview-icons {
    display: flex;
    align-items: center;
    margin: 4px 0px;
    margin-left: -7px;
    margin-right: -7px;
    justify-content: space-between;
    height: 40px;
    .like {
        color: $color-like;
    }
}

.single-icon-preview {
    @include single-icon(24px);
}

.story-preview-info {
    & childRule {
        height: 18px;
        font-weight: $font-weight-light;
    }
}

.preview-info-likes {
    font-weight: $font-weight-normal;
    line-height: 18px;
}

.preview-info-comments {
    color: $color-light-text;
    padding-top: 2px;
    display: block;
    text-decoration: none;
    color-scheme: light;
    margin-top: 2px;
}

.preview-add-comment {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    //padding-bottom: 16px;
    //@include separator(bottom);
    /*margin-bottom: 10px;*/
    form {
        width: 85%;
    }
    textarea {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        width: inherit;
        border: none;
        margin: 0px;
        outline: none;
        resize: none;
        overflow: hidden;
    }
    a {
        font-size: inherit;
        color: rgb(0, 149, 246);
        margin-right: 10px;
        font-weight: $font-weight-normal;
        display: none;
    }
    svg {
        margin-bottom: -2px;
    }
}




