.users-bar-content {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin-top: 30px;
}

.users-bar-list {
    //margin-top: 3px;
    //margin-left: -15px;
}

.users-bar-item {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 80px;
    //padding: 12px;
    //margin: 1px 0px;
}

.users-bar-item-profile {
    @include profile-img($size: 42px, $margin: 7px);
}

.users-bar-text {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    margin-top: 20px;
    span {
        color: $color-light-text;
        font-size: $font-size-normal;
        //font-family: Segoe UI Semibold;
        //white-space-collapse: preserve-breaks;
    }
}

.users-bar-label {  
    justify-self: flex-end;
    cursor: pointer;
}

.follow {
    color: $color-blue-text;
}

.following {
    color: inherit;
}


