.users-bar-content {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 18px; 
    padding-left: 20px;
    margin-bottom: 4px;
    width: 340px;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    color-scheme: light;
    text-size-adjust: 100%;
    justify-content: flex-start;
    align-content: stretch;
    align-self: auto;
}

.users-bar-list {
    margin-top: 12spx;
    //margin-left: -15px;
    //margin-top: -2px;
}

.users-bar-title {
    //margin-top: -10px;
    //padding: 20px 36px;
    margin-top: 2px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-default;
    font-size: $font-size-small;
    line-height: $line-height-medium;
    font-weight: $font-weight-normal;
    span {
        color: $color-light-text;
        font-size: $font-size-normal;
        line-height: $line-height-normal;
    }
}

.users-bar-item {
    display: flex;
    align-items: center; //last baseline;
    justify-content: space-between;
    padding: 8px 16px;
    //width: 280px;
    //gap: 80px;
    //padding: 12px;
    //margin: 1px 0px;
}

.users-bar-item-profile {
    @include profile-img($size: 44px);
    img {
        //margin: 0.25px 10px;
        margin: 0px 10px;
    }
}

.users-bar-text {
    color: $color-default;
    font-size: $font-size-small;
    line-height: $line-height-medium;
    font-weight: $font-weight-normal;
    padding-top: -4px;
    padding-bottom: -4px;
    //margin-top: 20px;
    span {
        color: $color-light-text;
        color-scheme: light;
        font-size: $font-size-normal;
        line-height: $line-height-normal;
        //margin-left: 7px;
        padding-bottom: 4px 0;
        margin-top: 8px; //24px;
        display: block;
        //white-space-collapse: preserve-breaks;
    }
}

.users-bar-label {  
    //justify-self: flex-end;
    cursor: pointer;
    margin-top: -2px;
    margin-bottom: -3px;
    font-size: $font-size-small;
    line-height: $line-height-medium;
    text-align: center;
    font-weight: $font-size-normal;
}

.follow {
    color: $color-blue-button;
}

.following {
    color: inherit;
}

.stories-bar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0; 
    margin-right: -8px;
}

.stories-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.stories-bar-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0 6px 0 6px;
    border: solid $color-pink-ring 2.2px;
    border-bottom-color: $color-yellow-ring;
    border-left-color: $color-yellow-ring;
    padding: 1.6px;
}

.stories-bar-text {
    line-height: $line-height-medium;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
}


