/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  
// Mixin for removing hover effects on iphone screen
@mixin hover-supported {    
  @media not all and (pointer: coarse) {
      &:hover {
          @content;
      }
  }
}

// App Mixins

@mixin dot ($marginY: 0, $marginX: 0) {
  width: 3px;
  height: 3px;
  background-color: $color-light-text;
  border-radius: 50%; 
  margin: $marginY $marginX;
  //margin: 0 1.5px;
}

@mixin separator ($side) {
  border-#{$side}: 1px solid $color-separator;
}

@mixin profile-img ($size: 32px, $margin: 0) {
  img {
      width: $size;
      height: $size;
      border-radius: 50%;
      margin: $margin;
      border-color: rgba(0, 0, 0, 0.4);
      background-color: rgb(250, 250, 250);
      color: rgb(0, 55, 107);
      text-decoration-color: rgb(0, 55, 107)
      -webkit-tap-highlight-color rgba(0, 0, 0, 0);
      text-decoration-style: solid;
      text-decoration-thickness: auto;
  }
}

@mixin modal-layout {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  border-radius: 12px;
}

@mixin modal-layout-create {
  @include modal-layout;
  margin-top: 87px;
}

@mixin single-icon ($size: 24px) {
  width: $size;
  height: $size;
  margin: 8px;
  color: $color-default;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {display: none;} 
  scrollbar-width: none;
}

