/*@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}*/

@font-face {
    font-family: "Segoe UI";
    src: local("../../../fonts/Segoe/Segoe-UI-Plain-verylight"), /*url("../../../fonts/Segoe/Segoe UI.ttf")*/ format("truetype");
    font-weight: $font-weight-very-light;
}

@font-face {
    font-family: "Segoe UI";
    src: local("../../../fonts/Segoe/Segoe-UI-Plain-light"), /*url("../../../fonts/Segoe/Segoe UI.ttf")*/ format("truetype");
    font-weight: $font-weight-light;
}

@font-face {
    font-family: "Segoe UI";
    src: local("../../../fonts/Segoe/Segoe-UI-Semibold-medium"), /*url("../../../fonts/Segoe/Segoe UI Semibold.ttf")*/ format("truetype");
    font-weight: $font-weight-medium;
}

@font-face {
    font-family: "Segoe UI";
    src: local("../../../fonts/Segoe/Segoe-UI-Semibold-normal"), /*url("../../../fonts/Segoe/Segoe UI Semibold.ttf")*/ format("truetype");
    font-weight: $font-weight-normal;
}





