// Colors
$color-button-background: rgb(239,239,239); //#EFEFEF;
$color-separator: rgb(219, 219, 219);
$color-light-text: rgb(115, 115, 115);
$color-default: black;
$color-like: #FF3040;
$color-blue-button: #0095F6;    // (0,149,246)
$color-blue-text: #3BAEF8;
$color-pink-ring: rgb(255, 16, 91);
$color-yellow-ring: rgb(255, 157, 0);

// Font Sizes
$font-size-extra-small: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;
$font-size-mobile-title: 18px;
$font-size-large-caption: 20px;
$font-size-title: 24px;

// Font Weights
$font-weight-very-light: 200; // CreateStory
$font-weight-light: 400;
$font-weight-medium: 540; // StoryDetails
$font-weight-normal: 600;
$font-weight-title: 700;  // NavBar
//$font-weight-bold: 800;

// Line Heights
$line-height-medium: 16px;
$line-height-normal: 18px;
$line-height-large: 20px;
$line-height-title: 30px;

// App Sizes
$nav-bar-width-normal: 220px;
$nav-bar-width-narrow: 60px;
$notification-panel-width: 397px;   // 330px


// ------------------------------


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Old Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;


:export {
    lightText: $color-light-text;
} 

